@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  
  .animate-delay-400 {
    animation-delay: 400ms;
  }
  
  .animate-delay-600 {
    animation-delay: 600ms;
  }
}
